<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Egghead.io Angular JS tutorial</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>


</head>
<body>

<div ng-app="myApp">




    <div ng-controller="FirstCtrl">
        <input type="text" ng-model="data.message" />
        <h1>{{data.message}}</h1>
    </div>




    <div ng-controller="SecondCtrl">
        <input type="text" ng-model="data.message" />
        <h1>{{data.message | reverse }}</h1>
    </div>
</div>




<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>